<script src="https://tech.shutterstock.com/rickshaw/vendor/d3.v2.js"></script>
<script src="https://tech.shutterstock.com/rickshaw/rickshaw.min.js"></script>

<div id="timeline_rs_chart"></div>

<script>
// Rickshaw colour palettes available
var schemes = [
    'spectrum14', 
    'colorwheel', 
    'cool',
    'spectrum2000', 
    'spectrum2001', 
    'classic9',
    'munin'
];

var palette = new Rickshaw.Color.Palette( { scheme: "spectrum14" } );

var data_series = [
    <% @series.each do |this_series| %>
    {
        name: <%= this_series[:name].inspect %>,
        data: [ <%= this_series[:data].map { |x, y| "{ x: #{x}, y: #{y} }" }.join(", ") %> ],
        color: palette.color()
    },
    <% end %>
    {}
]
data_series.pop();

var graph = new Rickshaw.Graph({
    element: document.querySelector("#timeline_rs_chart"),
    width: 1000,
    height: 600,
    renderer: 'line',
    series: data_series
});
graph.render();
</script>
