@import "slate.scss";

div.headline-box {
  text-align: center;
  border: 1px inset #888;
  padding: 1.5em;
}

.headline-box .headline-button {
  margin-top: 1em;
}

h1, h2 {
  margin-top: 2em;
}

#header_wrap h1 {
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

h2[id] a.para {
  color: #777;
  margin-left: -0.75em;
  padding: 0 0.1em;
  visibility: hidden;
  text-decoration: none;
}
h2[id]:hover a.para {
  visibility: visible;
}

#svg_tooltip {
  background: white;
  border:  1px solid black;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  display: none;
}

#svg_tooltip_sha_copied {
  background: white;
  border:  1px solid black;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  display: none;
}

.timeline-report-explanation {
  text-align: center;
}

footer ul {
  display: inline-block;
  li {
    display: inline-block;
    margin-right: 0.5em;
    &:last-child {
      margin-right: 0;
    }
  }
}

.platform_graph_wrapper {
  form {
    // Shrink the box to its minimum width;
    float: right;
  }
}

.plat-select-fieldset {
  border: 1px solid black;
  label {
    white-space: nowrap;
  }
}

// Make the left-most column in the table sticky so that the table content
// can scroll horizontally on mobile but still see the row header.
.table-wrapper {
  // Put table below the platform selector rather than beside it.
  clear: both;

  // Limit the container to the size of the page.
  max-width: 100%;
  // Place overflow on the container so that the table will scroll.
  overflow-x: auto;

  table {
    // Disable border-collapse so that the borders travel better
    // behind the position:sticky th.
    border-collapse: separate;
    td {
      // Since each cell has it's own border-width
      // (under border-collapse:separate)
      // cut the size in half so that the sum looks the way we want it.
      border-width: 0.5px;
    }

    tr {
      th:first-child {
        left: 0;
        position: sticky;
      }
    }
  }
}
