---
layout: basic
---
# About This Site

YJIT-Metrics is maintained by the <a href="https://yjit.org">YJIT</a> team at <a href="https://shopify.com">Shopify</a>.

We’re trying to build a JIT for <a href="https://github.com/ruby/ruby">CRuby</a> that’s faster than the current MJIT, especially for complex code like Ruby on Rails.

You can find <a href="https://github.com/Shopify/yjit-bench">our benchmarks here</a>.
