---
layout: basic
---
# About This Site

YJIT-Metrics is maintained by the <a href="https://yjit.org">YJIT</a> team at <a href="https://shopify.com">Shopify</a>.

You can find <a href="https://github.com/Shopify/yjit-bench">our benchmarks here</a>.
