<!-- Minimal surrounding tags. We want maximum cut-and-paste potential and browsers do well even without them. -->

<%= html_table(@headings, @col_formats, details_report_table_data) %>

<p>
	<strong>RSD</strong> is relative standard deviation - the standard deviation divided by the mean, expressed as a percentage. <br/>
	<strong>% in YJIT</strong> is the percentage of instructions that complete in YJIT rather than exiting to the non-JITted interpreter. YJIT performs better when this is higher.<br/>
	<strong>Speedup</strong> is relative to interpreted CRuby. So a "speedup" of 1.21x means it ran at 1.21 times the iters/second of CRuby with JIT disabled.
</p>

<p>
	You can find our benchmark code <a href="https://github.com/Shopify/yjit-bench">in the yjit-bench Github repo</a>. <br/>
	Our benchmark-runner and reporting code is <a href="https://github.com/Shopify/yjit-metrics">in the yjit-metrics Github repo</a>.
</p>

<p>
	Tested Ruby version for development CRuby and YJIT: <tt><strong><%= @ruby_metadata_by_config[@with_yjit_config]["RUBY_DESCRIPTION"] %></strong></tt> <br/>
<% if @prev_yjit_config %>
	Tested Ruby version for stable CRuby and YJIT: <tt><strong><%= @ruby_metadata_by_config[@prev_yjit_config]["RUBY_DESCRIPTION"] %></strong></tt> <br/>
<% end %>
</p>
