<p>
    Hover your cursor over the benchmark names for descriptions of each benchmark.
</p>

<%= html_table(@headings_with_tooltips.keys,
               @col_formats,
               details_report_table_data,
               tooltips: @headings_with_tooltips.values) %>

<p>
    YJIT stats correspond to the YJIT stats exit report.
</p>
