<%= html_table(@headings, @col_formats, details_report_table_data) %>

<p>
    Memory is shown in
    <a href="https://simple.wikipedia.org/wiki/Mebibyte">mebibytes</a> (1024 * 1024 bytes.)
</p>

<p>
    Older YJIT allocated an additional 256MiB for generated code. Current YJIT allocates
    executable memory on demand, so this overhead should no longer be present.
</p>
