<%= html_table(@headings, @col_formats, iterations_report_table_data) %>

<p>
    Different Ruby configurations want different amounts of warmup. With no JIT, CRuby needs hardly any.
    YJIT warms up fairly quickly, while some JITs may start slower as they do more advanced compilation.
</p>
