<%= html_table(@headings, @col_formats, iterations_report_table_data) %>

<p>
    Different Ruby configurations want different amounts of warmup. With no JIT, CRuby needs hardly any.
    YJIT and MJIT 3.0 both warm up quite quickly, while MJIT in 3.1 often slows down for a time as it
    compiles, after an unpredictable delay.
</p>
