<table>
    <thead> <% @headings.each { |heading| %> <th><%= heading %></th> <% } %> </thead>
    <tbody style="text-align: right;">
        <% iterations_report_table_data.each do |row| %>
            <tr style="border: 1px solid black;">
                <% row.each_with_index do |cell, idx|
                    format = @col_formats[idx]
                %> <td> <%= cell.nil? ? "" : format % cell %> </td><% end %>
            </tr>
        <% end %>
    </tbody>
</table>

<p>
    Different Ruby configurations want different amounts of warmup. With no JIT, CRuby needs hardly any.
    YJIT and MJIT 3.0 both warm up quite quickly, while MJIT in 3.1 often slows down for a time as it
    compiles, after an unpredictable delay.
</p>
