<!DOCTYPE html>
<!-- Copied from Slate default and modified -->
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <!-- no Google Analytics in our case -->

{% seo %}
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <!-- <a id="forkme_banner" href="{{ site.github.repository_url }}">View on GitHub</a> -->

          <img style="float: left" src="{{ '/assets/images/YJIT_logo_red_277_75.png' | relative_url }}" width="369" height="100" />
          <h1 style="float: left;" id="project_title">Benchmarks</h1>
          <div style="clear:both;"></div>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <ul style="display: inline-block;">
          <li style="display: inline-block;"><a href="{{ "about" | relative_url }}">About YJIT Benchmarks</a>&nbsp;&nbsp;</li>
          <li style="display: inline-block;"><a href="{{ "history" | relative_url }}">Raw Results History</a>&nbsp;&nbsp;</li>
        </ul>
      </footer>
    </div>
  </body>
</html>
