name: Run Scheduled Reporting

on:
  # Run daily prior to 6 am US Eastern Time
  # (after the benchmarks have completed and before the typical North America workday).
  # (Use any minute other than "on the hour".)
  schedule:
    - cron: "40 9 * * *" # UTC

  # Also allow running on demand via the "Run workflow" UI in GitHub Actions.
  workflow_dispatch: {}

concurrency: 1

permissions: {} # none

jobs:
  reporting:
    uses: ./.github/workflows/wrapper.yml
    secrets: inherit
    with:
      script: |
        ./bin/run report
