name: Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: yjit-metrics
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          path: yjit-metrics

      # - name: Checkout ruby-bench
      #   uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      #   with:
      #     repository: ruby/ruby-bench
      #     path: yjit-metrics/build/ruby-bench

      - uses: ruby/setup-ruby@d5126b9b3579e429dd52e51e68624dda2e05be25 # v1.267.0
        with:
          bundler-cache: true
          working-directory: yjit-metrics

      - name: Setup CPU
        run: ./setup.sh cpu

      - name: Run tests
        run: bundle exec rake
        env:
          TEST_OPTS: "-v"
